
    body {background-color: #ade498;

    }

  hr {
    border-style: dotted none none none;
    border-color: hotpink;
    border-width: 5px;
    width: 5%
    }

  h1 { color: red;}

  h3 { color: green;}

  h2 { color: darkgreen;}

  h4 { color: #800080;}

/*************Class Selectors**********/

.awesomeness {  border-style: dotted;
    border-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-color: red;
  }

  .center { margin-left: 13%;
  }

  .name { font-family: fantasy;
    font-size: 35px;
  }

.hobbies { margin-left: 30%;
  font-family: cursive;
  font-size: 100px;
}
